.dashboard-content {
  padding: 20px;
}

mat-toolbar {
  background-color: #fff5e6;
  color: #333;
}

mat-tab-link {
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive;
}

mat-tab-link.active {
  color: orange;
}

mat-table {
  width: 100%;
  margin-top: 20px;
  border: 1px solid orange;
  border-radius: 10px;
  overflow: hidden;
}
