 <body>
  
  <div class="home-container">
    <img src="/src/app/home/home-Images/logo.PNG" alt="">
  </div>


<nav class="nav">
  <input id="menu" type="checkbox">
  <label for="menu">Applications</label>
  <ul class="menu">
    <li>
      <a href="#0">
        <span>Apeal</span>
        <i class="fas fa-address-card" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#0">
        <span>Projects</span>
        <i class="fas fa-tasks" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#0">
        <span>Clients</span>
        <i class="fas fa-users" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#0">
        <span>Contact</span>
        <i class="fas fa-envelope-open-text" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>



</body> 