
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal
    }

    body {
      line-height: 1.6;
      background-color: #f4f4f4;
    }

    /* Navbar */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      background-color:  #311153;;
      color: white;
      flex-wrap: wrap;
    }

    .navbar .logo {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .navbar-buttons {
      display: flex;
      gap: 10px;
    }

    .navbar-buttons button {
      background-color: #50E5DE;
      border: none;
      padding: 10px 16px;
      width: 100px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-weight: 400;
      transition: background-color 0.3s ease;
    }

    .navbar-buttons button:hover {
      background-color: #6b2eab;
      cursor: pointer;
    }

    /* Hero Section */
    .hero {
      background: linear-gradient(135deg, #6b2eab, #50E5DE);
      height: 60vh;
      color: white;
      display: flex;
      align-items: center;
      justify-content: left;
      text-align: left;
    }

    .hero h1 {
      font-size: 2.5rem;
      margin-left: 5%;
    }
    .hero h1 span{
      font-size: 5rem;
      font-weight: 600;
      color: #cda8f4;
    }
    /* Sections */
    section {
      padding: 60px 20px;
      max-width: 1000px;
      margin: auto;
      background-color: #8af0eb;
      margin-top: 20px;
      border-radius: 10px;
    }

    section h2 {
      margin-bottom: 15px;
      color: #333;
    }

    /* Footer */
    footer {
      background-color: #1a1a1a;
      color: white;
      text-align: center;
      padding: 20px 10px;
      margin-top: 40px;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .navbar {
        flex-direction: column;
        align-items: flex-start;
      }

      .navbar-buttons {
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start;
      }

      .hero h1 {
        font-size: 2rem;
        padding: 0 10px;
      }
    }
