*{
  font-family: "Poppins", sans-serif;
}
.nav-container {
  margin-top: 2%;
  border: 2px solid #3E1768;
  padding: 20px;
  margin: 1%;
  border-radius: 10px;
}
.dashboard-container {
  padding: 20px;

}

.dashboard-title {
  font-size: 32px;
  color: #3E1768;
  margin-bottom: 20px;
}

mat-card {
  padding: 20px;
  border: 2px solid #3E1768;
  border-radius: 10px;
}

table {
  width: 100%;
}

th {
  color: #3E1768;
}

td {
  color: #1f75fe;
}

button {
  font-weight: bold;
}


.approved {
  color: green;
  font-weight: bold;

}
.rejected {
  color: red;
  font-weight: bold;
}
.pending {
  color: orange;
  font-weight: bold;
}
.Appeal-btn{
  border: 1px solid #3E1768;
margin-left: 5px;
border-radius: 7px;
background-color: red;
color: black  ;
}
#Approve-btn{
  background-color: green;
  color: #fff;
}
