.unauthorized {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.unauthorized h2 {
  color: #d9534f;
}

.unauthorized a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.unauthorized a:hover {
  background-color: red;
}
