<div class="container">
  <div class="left-side-container">
    <h1>Employee<br>Registration</h1>
  </div>
  <div class="right-side-container">
    <form [formGroup]="employeeForm" (ngSubmit)="registerEmployee()">
      <label>First Name:</label>
      <input type="text" formControlName="firstName" required />

      <label>Last Name:</label>
      <input type="text" formControlName="lastName" required />

      <label>Phone Number:</label>
      <input type="text" formControlName="phoneNumber" required />

      <label>Department:</label>
      <input type="text" formControlName="department" />

      <label>Position:</label>
      <input type="text" formControlName="position" />

      <label>Status:</label>
      <select formControlName="status">
        <option value="ACTIVE">Active</option>
        <option value="INACTIVE">Inactive</option>
      </select>

      <label>Salary:</label>
      <input type="number" formControlName="salary" />

      <label>Hire Date:</label>
      <input type="date" formControlName="hireDate" />

      <button type="submit" [disabled]="employeeForm.invalid">Register</button>
    </form>

    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
