/* Use Poppins Font */
* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Appeal Form Container */
.appeal-container {
  width: 30%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

/* Form Header */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

/* Input Fields */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

/* Submit Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #46e0c0;
  color: #222;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #3E1768;
  color: white;
}
